		:root{
			--main:rgb(40, 45, 50);
			--sec:#547061;
		}
		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: 'Tajawal', sans-serif;
		}
		
		main{
			width: 98%;
			background: white;
			margin: 60px auto;
			font-family: sans-serif;
		}
		header{
			width: 100%;
			height: 100px;
			border-bottom: 2px solid #e5e5e5;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		header ul li{
			list-style: none;
			padding: 20px;
			margin: 10px;
			float: left;
			font-size: 20px;
			border-radius: 35px;

		}
		header ul li a{
			/* color: inherit; */
			text-decoration: none;
			color:#547061 !important;

		}
		header ul li a:hover{
			/* color: inherit; */
			text-decoration: none;
			color:#547061bf !important;

		}
		header ul li.active{
			background: var(--main);
			color: #fff;
		}
		header ul li.active a{
			color: white !important;
			font-weight: bold;
		}
		.filter-condition{
			padding: 20px;
			height: 100px;
			font-size: 20px;
			font-weight: bold;
		}
		.filter-condition select{
			width: 120px;
			padding: 0 0 0 10px;
			border: none;
			outline: none;
			font-weight: bold;
			color: #547061;
			background: transparent;
			cursor: pointer;
		}
		.product-field{
			padding: 40px 20px;
		}
		.product-field ul{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.product-field ul li{
			list-style: none;
			width: 23.4%;
			height: 400px;
			transition: 0.5s all;
			background: #456d5de0;
			/* background: var(--main); */
			/*overflow: hidden;*/
			border-radius: 20px;
			padding: 10px;
			margin: 80px 10px 0 10px;
			position: relative;
		}
		picture{
		position: absolute;
		right: -12px;
		bottom: 46%;
		width: 75%;
		height: 77%;
		
		}
		picture img {
			width: 85%;
			z-index: 1;
			padding: 133px 0px 0 0;
		}
		.detail{
			width: 100%;
			height: 94%;
		}
		.detail .icon{
			width: 30%;
		height: 55%;
		padding: 20px 5px;
		}
		.icon span{
			background: #00000030;
		display: inline-block;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		padding: 0;
		border-radius: 50%;
		margin: 0 0 20px 5px;
		font-size: 20px;
		color: white;
		}
		.icon span:hover{
			/* background: var(--main); */
			cursor: pointer;
			color: var(--sec);
		}
		.detail > strong{
			display: inherit;
			margin: 20px;
			font-size: 24px;
			letter-spacing: 2px;
			color: #ffffff;
		}
		.detail > span{
			display: inherit;
			/* padding: 0 20px; */
			width: 90%;
			color: white;
		}
		.detail small{
			color:#bdbdbd;
			display: inline-block;
		padding: 8px 20px;
		margin: 15px;
		font-weight: bold;
		border-radius: 6px;
		border: 1px solid #999;
		cursor: pointer;
		}
		.detail small:hover{
			background: var(--gra);
			color: white;
			border-color: var(--sec);
		}
		li h4{
			position: absolute;
			right: 15px;
			top: 57%;
			font-size: 22px;
			color: rgb(241 241 241);
			text-shadow: #293970 1px 1px 2px;
		}


		.indicator li a{
			cursor: pointer;
		}