
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box; text-decoration: none;
}
a {
  color: rgb(255, 255, 255)!important;
}
a:hover {
  color: rgb(255, 255, 255, .7)!important;
}

.navbar{
  background-color: #282d32 !important;
  height: 85px;
}

.navbar-nav {
  margin: 0 auto;
}

.logo {
    font-size: 10px;
    color: rgb(255, 255, 255);
    border: 30px;
    white-space: initial;
}

.logo h4 span{
    color: #547061;
}
.btn-outline-warning{
  color:#547061;
  border-color: #547061;
}

.btn-outline-warning:hover{
    background:var(--sec);
    color: #fff;
    border-color: var(--main);
}

.logo img {
    width: 40px;
    height: 40px;
    margin-left: calc( 50% - 20px );
    filter: invert(1);
    
}
  .container h4 {
    color: rgb(255, 255, 255)!important; 
  }

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(135, 34, 34, 0);
}

body {
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-weight: 300;
    background: #ffffff;
}


a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0 0 15px 0;
    color: #333333;
    font-weight: 700;
    
}

h1 {
    font-weight: 900;
}

img {
    width: 100%;
    height: auto;
}



/**********************************/
/***** Layout & Section Title *****/
/**********************************/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.section-title h1 {
    color: #353535;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}


.team-9 {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.team-9:hover {
    transform: rotateY(180deg);
}

.team-9 .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
    margin-bottom: 30px;
}

.team-9 .team-img img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.team-9 .team-content {
    text-align: center;
}

.team-9 .team-content h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.team-9 .team-content h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.team-9 .team-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.team-9 .team-overlay p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.team-9 .team-social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.team-9 .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 100%;
    transition: all .3s;
}

.team-9 .team-social a.social-tw {
    background: #00acee;
}

.team-9 .team-social a.social-fb {
    background: #3b5998;
}

.team-9 .team-social a.social-li {
    background: #0e76a8;
}

.team-9 .team-social a.social-in {
    background: #3f729b;
}

.team-9 .team-social a.social-yt {
    background: #c4302b;
}

.team-9 .team-social a:last-child {
    margin-right: 0;
}

.team-9 .team-social a:hover {
    background: #222222;
}
/*company*/
.company-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.company-title::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: calc(47% - 35px);
    background: #353535;
}

.company-title h1 {
    color: #353535;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}
/*compaaaaaaaaaany*/
.main {
   
    align-items: center;
   
    width: 50%;
    min-height: 85vh;
   margin-left: 350px;
      margin-top: 150px;
grid-template-columns: repeat(2,1fr); 
    }

.text {
    
    transform: translate(1%,-50%);
    z-index: 3;
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
border: 10px inset #6f686878;
padding-left: 10px;
    margin: 90px 0px 2px;
    font-size: large;
    line-height: 1;
    font-weight: 500;
}
.company img{
    margin-top: 0%;
}




html::-webkit-scrollbar {
  width: .5rem;
}

html::-webkit-scrollbar-track {
  background: #00000000;
}

html::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 5rem;
}
